    
    /* for responsive design  */
     image, embed,
     object, video {
     	max-width: 100%;
     }
     
    /* for responsive design  */ 
    html, body {
       height: 100%;
       margin: 0;
       padding: 0;
    }
    
   /* for responsive design  */   
    #map {
      height: 100%;
      width: 100%;
    }
     
    /* for responsive design  */  
	header {
	  margin: 20px;
	  text-align: left;
	  width: 100%;
	}
	
	p {
	  font-size: 1.2em;
	}
	
	#searchArea {
	  width: 100%;
	  margin-bottom: 0.5em;
	}
	
	#searchBox {
		width: 45%;
		padding: 10px;
	}

	#restaurant-list {
	  padding: 0;
	}
	
	#restaurant-list li {
	  display: inline-block;
	  list-style-type: none;
	  font-size: 18px;
	  padding: 4px;
	  background: #2F4F4F;
	  color: #FFFFFF;
	  margin-bottom: 8px;
	}

	#restaurant-list li:hover {
	  cursor: pointer;
	  color: #fff;
	  background: gray;
	}

}